[submodule "api"]
	path = api
	url = git@github.com:ActiveLearningStudio/ActiveLearningStudio-API.git
[submodule "client"]
	path = client
	url = git@github.com:ActiveLearningStudio/ActiveLearningStudio-react-client.git
